body {
    background-color: #333;
    color: #FFF;
}
main {
    margin: 0.5rem/* 8px */;
}
.overflow {
    overflow: wrap;
}

@media (orientation: portrait) {
    .size {
        width: 40%
    }
}

@media (orientation: landscape) {
    .size {
        width: 20%
    }
}

